body{
    background-image: url(css/images/bi.jpg);
    font-family: "Brush Script MT";
}

#text{
    color: #de5b40;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#exit{
    font-family: "Comic Sans MS";
    text-align: center;
}

#back{
    color: #de5b40;
    border: 3px solid #de5b40;
    border-radius: 7px;
    text-decoration: none;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
}

#back:hover{
    border: 4px solid #de5b40;
    background-color: #f2eeed;
}
